<div class="container__big-card">
    <div class="big-card__picture">
        <img 
           src="assets/programacao.jpg" 
           alt="Homem codificando, desenvolvendo alguma solução de tecnologia." 
           width="100%" 
           srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#" target="_blank">Novas tecnologias e as regras do mercado</a> </h1>
    </div>
    <div class="big-card__description">
        <p> <a href="#" target="_blank">Novas formas de desenvimento de software com ferramentas de inteligência artificial iram ditar as regras do mercado.</a> </p>
    </div>
</div>