<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
               src="assets/programacao.jpg" 
               alt="Homem codificando, desenvolvendo alguma solução de tecnologia." 
               width="100%" 
               srcset=""
            >
        </div>
        <div class="small-card__title">
            <h1><a href="#" target="_blank">Saiu nova versão ANGULAR</a> </h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr/>
    </div>
</div>